{% extends 'layout.html' %}
{% block content %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="text-uppercase mb-0">Выберите тип оплаты</h1>
            <h2>{{ guide.name }}</h2>
            <form action="{% url 'place_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="{{ form.guide_id.html_name }}" required hidden value="{{ guide.id }}">
                <div class="container">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <div class="card-deck mb-3 text-center">
                            <div class="card mb-4 shadow-sm card-qiwi">
      <div style="height: 74px" class="card-header card-qiwi-header">
          <img style="height: 50px" alt="Qiwi" src="https://static.qiwi.com/img/qiwi_com/header/qiwi-wallet-logo.svg">
      </div>
      <div class="card-body card-qiwi-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Комиссии:</li>
          <li>0% при оплате с кошелька</li>
          <li>2% при оплате с банковской карты</li>
            <h6 style="color: orange">Внимание!</h6>
            <li>Не уходите со страницы после оплаты, иначе вы можете не получить ваши robux.</li>
        </ul>
        <label class="btn btn-lg btn-dark btn-qiwi">
            <input style="position: absolute; clip: rect(0,0,0,0); pointer-events: none;" type="radio" name="pay_type" value="QI" autocomplete="off" required> Выбрать
        </label>
      </div>
    </div>
                                <div class="card mb-4 shadow-sm card-yandex">
      <div style="height: 74px" class="card-header card-yandex-header">
        <img style="padding-top: 5px" alt="Яндекс Деньги" src="https://money.yandex.ru/i/html-letters/header__logo.png">
      </div>
      <div class="card-body card-yandex-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Комиссии:</li>
          <li>0.5% при оплате с кошелька</li>
          <li>2% при оплате с банковской карты</li>
        </ul>
        <label class="btn btn-lg btn-dark btn-yandex">
            <input style="position: absolute; clip: rect(0,0,0,0); pointer-events: none;" type="radio" name="pay_type" value="YA" autocomplete="off" required> Выбрать
        </label>
      </div>
    </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary btn-xl" type="submit">Продолжить</button>
            </form>
            <br>
            <div style="font-size: 14px">
                После оплаты вы получите ссылку на гайд. Пожалуйста, не теряйте её.
                Её можно открыть в истории браузера или истории YouTube если это приватное видео.
                За утерю ссылки магазин ответственности не несет!
            </div>
        </div>
{% endblock %}
{% block scripts %}
{% endblock %}
