{% extends 'layout.html' %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <!-- TODO: CDN Image
            <img width="200px" height="200px" src="https://cdn.discordapp.com/attachments/552947134438309890/552953052810838067/RM.png">
            <br><br><br><br> -->
            <h1 class="text-uppercase mb-0">Купить Robux</h1>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- block1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7069264357910158"
     data-ad-slot="9110766125"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <hr class="star-light">
            <!--
            <h1 class="font-weight-light mb-0">Сайт закрыт по техническим причинам до 25 сентября 2019 года. Приносим свои извинения за доставленные неудобства.</h1>
            -->
            <form action="{% url 'buy_robux' %}" method="post" class="buy-form">
                <label>Купить прямо сейчас!</label>
                <input min="500" max="20000" onchange="document.getElementById('to-pay').innerHTML = this.value*{{ percent }} + ' руб';" name="value" class="form-control" placeholder="Кол-во robux для покупки" type="number" required>
                <p>Сумма к оплате:</p><p id="to-pay"></p>
                <div style="font-size: 14px">Текущая ставка: 1 robux = {{ percent }} руб</div>
                <label>Выберите группу</label>
            <div class="btn-group-toggle" data-toggle="buttons">
                <div class="card-deck mb-3 text-center">
                    {% for group in groups %}
                        <div class="card mb-4 shadow-sm card-rb">
                            <div class="card-header card-rb-header">
                                <img id="{{ group.group_id }}-img" style="width: 70px" alt="{{ group.name }} image" src="https://static.rbxcdn.com/images/spinners/spinner16x16.gif">
                            </div>
                            <div class="card-body card-rb-body">
                                <h3>{{ group.name }}</h3>
                                <p>Баланс:</p>
                                <p>{% if group.value > 10000 %}
                                    {{ group.value }}
                                    {% else %}0
                                    {% endif %}<img width="28" src="/static/img/robux-white.png"></p>
                                <label class="btn btn-lg btn-dark btn-rb {% if group.value < 10000 %}disabled{% endif %}">
                                    <input {% if group.value < 10000 %}disabled{% endif %} class="form-control" style="position: absolute; clip: rect(0,0,0,0); pointer-events: none;" type="radio" name="group" value="{{ group.group_id }}" autocomplete="off" {% if forloop.first %}required{% endif %}>
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <p style="font-size: 12px">Вы должны вступить в выбранную группу перед переводом</p>
                <label>Ваш ник в Roblox</label>
                <input name="name" class="form-control" placeholder="Введите ник" type="text" required>
                <hr>
                <button type="submit" class="btn btn-outline-danger btn-xl">Купить!</button>
            </form>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Магазин Roblox Mafia - Покупать Robux дёшево и просто!</h2>
        </div>
    </header>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        function ready() {
            $.ajax({
                dataType: 'json',
                url: "{% url 'get_group_image' %}",
                data: {
                    group_ids: '{% for group in groups %}{{ group.group_id }}{% if not forloop.last %},{% endif %}{% endfor %}'
                },
                success: function(result){
                    var group_ids = [{% for group in groups %}{{ group.group_id }}{% if not forloop.last %},{% endif %}{% endfor %}];
                    if (result.success) {
                        for (var i = 0; i < group_ids.length; i++) {
                            $('#'+result.response.data[i].targetId+'-img').attr("src", result.response.data[i].imageUrl);
                        }
                        $('#avatar').attr("src", result.url);
                    } else {
                        $('#avatar').hide();
                    }
                }
            });
        }
        document.addEventListener("DOMContentLoaded", ready);
    </script>
{% endblock %}
