{% extends 'layout.html' %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1 class="text-uppercase mb-0">Выберете как вы будете оплачивать</h1>
            <hr class="star-light">
            <form action="https://money.yandex.ru/quickpay/confirm.xml" method="post">
                <input type="hidden" name="receiver" value="{{ pay_to }}">
                <input type="hidden" name="formcomment" value="{{ pay_desc }}">
                <input type="hidden" name="short-dest" value="{{ pay_desc }}">
                <input type="hidden" name="label" value="{{ order_id }}">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" name="targets" value="транзакция {{ order_id }}">
                <input type="hidden" name="successURL" value="https://roblox.teamfnd.ru/success-payment?order={{ order_id }}">
                <input type="hidden" name="sum" value="{{ wallet }}" data-type="number">
                <input type="hidden" name="paymentType" value="PC">
                <button style="width: 200px" class="btn btn-outline-danger btn-xl">Из яндекс кошелька: {{ wallet }}руб</button>
            </form>
            <br>
            <form action="https://money.yandex.ru/quickpay/confirm.xml" method="post">
                <input type="hidden" name="receiver" value="{{ pay_to }}">
                <input type="hidden" name="formcomment" value="{{ pay_desc }}">
                <input type="hidden" name="short-dest" value="{{ pay_desc }}">
                <input type="hidden" name="label" value="RM{{ order_id }}">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" name="targets" value="транзакция {{ order_id }}">
                <input type="hidden" name="successURL" value="https://roblox.teamfnd.ru/success-payment?order={{ order_id }}">
                <input type="hidden" name="sum" value="{{ bank }}" data-type="number">
                <input type="hidden" name="paymentType" value="AC">
                <button style="width: 200px" class="btn btn-outline-info btn-xl">Банковской картой: {{ bank }}руб</button>
            </form>
        </div>
    </header>
{% endblock %}
