{% extends 'layout.html' %}
{% load l10n %}
{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="text-uppercase mb-0">Спасибо за покупку!</h1>
    <div id="hide1">
    <br>
    <div class="alert alert-danger" role="alert">Никуда не уходите с этой страницы, иначе вы можете потерять доступ к гайду.</div>
    <br>
        </div>
            <h2 id="status">Включите JavaScript для получения информации о платеже и отображения гайда.</h2>
    <div id="guide"></div>
            <p id="hide2">Отлично! Ваш гайд появится на этой странице в ближайшее время.
                Если этого не происходит, то это повод обратиться к нам,
                однако это может произойти из-за задержки платёжных систем.
                В любом случае, если у вас возникают вопросы по поводу
                зачисления, обращайтесь к нам.
            </p>
        </div>
{% endblock %}
{% block scripts %}
    <script>
        var final = false;
        function checkStatus() {
            $.ajax({
                url: "{% url 'check_status' %}",
                data: {
                    order: "{{ order.id }}"
                },
                dataType: 'json',
                success: function( result ) {
                    stat = $("#status");
                    stat.text(result.status);
                    stat.attr('style', 'color: '+result.color+';');
                    final = result.final;
                    $("#hide1").hide()
                    $("#hide2").hide()
                    if (result.guide) {
                        $("#guide").append(result.guide)
                    }
                    //if (result.color === 'green') confirm();
                }
            });
        }
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function loop() {
            while (!final) {
                checkStatus();
                await sleep(5000);
            }
        }
        loop();
    </script>
{% endblock %}
