{% extends 'layout.html' %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1 class="text-uppercase mb-0">Спасибо за покупку!</h1>
            <hr class="star-light">
            <p>Отлично! Ваши robux будут зачислины в ближайшее время.
                Если этого не происходит, то это повод обратиться к нам,
                однако это может произойти из-за задержки платёжных систем.
                В любом случае, если у вас возникают вопросы по поводу
                зачисления, обращайтесь к нам.
            </p>
        </div>
    </header>
{% endblock %}
